<!DOCTYPE html>
<html ng-app="portroach">

<head>
	<script type="text/javascript" src="assets/angular.min.js"></script>
	<title>portroach - new distfile scanner</title>
	<link rel="icon" type="image/ico" href="assets/favicon.ico"/>
	<style>
	<!--
		body, table        { font-family: "Verdana", "Helvetica", Sans-Serif; }
		h2                 { font-family: "Verdana", "Helvetica", Sans-Serif; }
		tr                 { background-color: #FFFFFF; font-family: "Verdana", "Helvetica", Sans-Serif; }
		td, p, ul, span    { font-family: "Verdana", "Helvetica", Sans-Serif; font-size: 85%; }
		.results           { background-color: #444444; }
		.resultshead       { color: #FFFFFF; font-weight: bold; background-color: #999999; }

		.resultsrow        { background-color: #FFFFFF; }
		.resultsrowupdated { background-color: #AAAADD; }

		.resultshead a     { color: #FFFFFF; text-decoration: none; }

		.box               { border: 1px solid #000000; padding: 6px; }
	//-->
	</style>
</head>

<body ng-controller="OverviewController as overview" ng-init="predicate='maintainer'">

<h1>portroach - New Distfile Scanner</h1>

<h2>All Maintainers</h2>
<hr>


  <p>Generated on %%(date) at %%(time), by <a href="http://jasperla.github.io/portroach/">portroach</a> v%%(appver)</p>
<div ng-cloak>
  <p>Summary:<br />
    Total ports: {{ overview.summary.total_ports }}<br />
    Outdated ports: {{ overview.summary.total_outdated }} ({{ overview.summary.outdated_percentage }}%)
  </p>
</div>

<p>Table headings are clickable for different sorting.</p>

<p><a href="restricted-ports.html">Restricted ports</a> <font color="#CC0000"><b>&lt;-- Please check this!</b></font></p>

<span class="box">
    Filter Maintainer: <input ng-model="search.maintainer">
    Only show outdated? <input type=checkbox ng-model="overview.onlyOutdated">
</span>

<br /><br />

<table class="results" cellspacing="1" cellpadding="2" >
	<tbody id="results">
		<tr class="resultshead">
			<td><a href="" ng-click="predicate = 'maintainer'; reverse=false">Maintainer</a></td>
			<td><a href="" ng-click="predicate = 'total'; reverse=!reverse">Total Ports</a></td>
			<td><a href="" ng-click="predicate = 'withnewdistfile'; reverse=!reverse">Ports with New Distfile(s)</a></td>
			<td><a href="" ng-click="predicate = 'percentage'; reverse=!reverse">% Out of Date</a></td>
		</tr>
		<tr ng-show="loading"><td colspan="4">Loading...</td></tr>
        <tr ng-cloak class="resultsrow" ng-show="overview.showOutdated(maintainer, overview.onlyOutdated)" ng-repeat="maintainer in overview.maintainers | filter:search | orderBy:predicate:reverse">
            <td><a href="{{ maintainer.maintainer }}.html">{{ overview.stripEmail(maintainer.maintainer) }}</a></td><td>{{ maintainer.total }}</td><td>{{ maintainer.withnewdistfile }}</td><td>{{ maintainer.percentage }}%</td>
        </tr>
	</tbody>
</table>
    <script type="text/javascript" src="assets/app.js"></script>
</body>
</html>
