<!DOCTYPE html>
<html ng-app="portroach">

    <head>
        <title>portroach - new distfile scanner</title>
	<link rel="icon" type="image/ico" href="assets/favicon.ico"/>
        <style>
        <!--
            body, table        { font-family: "Verdana", "Helvetica", Sans-Serif; }
            h2                 { font-family: "Verdana", "Helvetica", Sans-Serif; }
            tr                 { background-color: #FFFFFF; font-family: "Verdana", "Helvetica", Sans-Serif; }
            td, p, ul          { font-family: "Verdana", "Helvetica", Sans-Serif; font-size: 85%; }
            td a               { color: #000000; text-decoration: none; }
            .results           { width: 100%; background-color: #444444; }
            .resultshead       { color: #FFFFFF; font-weight: bold; background-color: #999999; }

            .resultsrow        { background-color: #FFFFFF; }
            .resultsrowupdated { background-color: #AAAADD; }
            //-->
        </style>
    </head>

    <body ng-controller="RestrictedController as restricted">

        <h2>Restricted Ports</h2>
        <a href="index.html">Index</a>
        <hr>

        <p>
            Notes:
            <ul>
                <li>
                    <b>Limit Regex</b> is a Perl regular expression used to limit the port's version.
                </li>
		        <li>
		            <b>Limit Even/Odd</b> tells portroach to limit the (<i>n</i>+1)th number to even or
	                odd numbers only.
	            </li>
	            <li>
	                Ports with a version number in their name are automatically dealt with.
	            </li>
	        </ul>
        </p>

        <p>
            Please let me know if any of these are incorrect or change.
        </p>

        <br>

        <table class="results" cellspacing="1" cellpadding="2">
            <tr class="resultshead">
                <td>Port</td>
                <td>Category</td>
                <td>Limit Regex</td>
                <td>Limit Even/Odd</td>
                <td>Skip Versions</td>
            </tr>

            <tr class="resultshow" ng-repeat="port in restricted.ports">
                <td><a href="http://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/{{ port.cat }}/{{ port.name }}">{{ port.name }}</a></td>
                <td>{{ port.cat }}</td>
                <td>{{ port.limitver }}</td>
                <td>{{ port.limitevenwhich }}</td>
                <td>{{ port.skipversions }}</td>
            </tr>
        </table>

	<script type="text/javascript" src="assets/angular.min.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>
</body>
</html>
